* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #ee957d;
}

.App {
  padding: 0px 20px;
}

.header {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin: 20px 0px;
}

.input-number {
  position: relative;
}

.input {
  margin: 30px 0px;
  padding: 0px 30px;
  font-size: 30px;
  height: 190px;
  border-radius: 10px;
  text-align: end;
  border: 2px solid #ee957d;
  min-width: 40vw;
}

.base-currency-full {
  position: absolute;
  top: 27%;
  left: 3%;
  font-style: italic;
}

.base-currency {
  position: absolute;
  top: 43%;
  left: 3%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 30%;
}

.curr-list {
  position: relative;
  padding: 15px;
  margin: 15px 0px;
  min-width: 38vw;
  min-height: 20%;
  background-color: rgb(255, 239, 174);
  border: 2px solid #ee957d;
  color: #000;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-between;
}

.curr-symbol {
  font-size: 23px;
  font-weight: bold;
  margin: 8px 0px;
}

.curr-label,
.curr-rates {
  font-size: 18px;
  padding-top: 0px;
}

.curr-label {
  font-style: italic;
}

.curr-amount {
  position: absolute;
  right: 28%;
  top: 15%;
  text-align: end;
  color: #cf6548;
  font-size: 24px;
}

.delete-btn {
  position: absolute;
  right: 8%;
  top: 40%;
  font-size: 16px;
  border: none;
  background-color: rgb(255, 239, 174);
  cursor: pointer;
  color: rgb(168, 165, 165);
}

.delete-btn:hover {
  color: rgb(180, 21, 21);
}

.option {
  min-width: 40%;
  margin: 20px 0px;
}

@media (max-width: 800px) {
  .input {
    width: 75vw;
  }
  .curr-list {
    width: 74vw;
  }

  .curr-symbol,
  .curr-amount {
    font-size: 27px;
  }

  .curr-rates {
    font-size: 17px;
  }

  .curr-label {
    font-size: 16px;
  }

  .option {
    min-width: 60%;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 37px;
  }
  .input {
    width: 88vw;
  }

  .base-currency-full {
    font-size: 15px;
  }

  .base-currency {
    font-size: 25px;
  }

  .curr-list {
    width: 87vw;
  }

  .curr-symbol,
  .curr-amount {
    font-size: 17px;
  }

  .curr-amount {
    right: 18%;
  }

  .curr-rates {
    font-size: 16px;
  }

  .curr-label {
    font-size: 15px;
  }

  .option {
    width: 90%;
  }
}
